* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #F2F4F7;
}

.profile-page-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    height: auto;
}

.profile-top-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: #ffffff;
    /* background-color: green; */
}



.main-cover-photo-section {
    height: 350px;
    width: 70%;
    background-color: #ffffff;
    object-fit: cover;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-photo {
    height: 100%;
    width: 100%;

}

.cover-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-photo-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.cover-photo-btn p,
i {
    font-size: 18px;
}

.cover-photo-btn {
    height: 40px;
    width: 170px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.cover-photo-btn:hover {
    filter: brightness(85%);
}

.profile-mid-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile-mid-section {
    height: auto;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-mid-section .pic-and-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 20px;
    height: 100%;
}

.pic-and-name img {
    height: clamp(8rem, 10vw, 16rem);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.pic-and-name img:hover {
    filter: brightness(85%);
}

.name-and-followers {
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 30px;
}

.name-and-followers h1 {
    font-size: clamp(1.7rem, 2vw, 50rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name-and-followers .followers-pic {
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: green; */
}

.name-and-followers img {
    height: 32px;
    border: 2px solid white;
    margin-right: -7px;
}

.name-and-followers span {
    color: gray;
    font-family: 'Segoe UI';
}

.main-profile-picture {
    position: relative;
}

.main-profile-picture i {
    position: absolute;
    bottom: 22%;
    right: -8px;
    font-size: 25px;
    background-color: #dbdbdb;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.profile-mid-section .dashboard-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    row-gap: 10px;
    padding-bottom: 30px;
}

.dashboard-section .top-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: auto;
    gap: 10px;
}

.dashboard-section .top-btn p:first-child {
    background-color: #745BC9;
    height: 40px;
    width: 15vw;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    color: white;
}

.dashboard-section .top-btn p:first-child:hover {
    filter: brightness(85%);
}

.dashboard-section .top-btn p:first-child i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #6852B5;
    width: 20px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}


.dashboard-section .top-btn p:last-child {
    background-color: #E2E5E9;
    height: 40px;
    width: 70px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    color: black;
}

.dashboard-section .top-btn p:last-child:hover {
    filter: brightness(85%);
}

.bottom-btn {
    height: 40px;
    width: 110px;
    background-color: #E2E5E9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bottom-btn:hover {
    filter: brightness(85%);
}


.bottom-btn p:first-child {
    font-size: 20px;
}

.ri-arrow-drop-down-line {
    background-color: #E2E5E9;
    height: 40px;
    width: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    color: black;
}

.ri-arrow-drop-down-line:hover {
    filter: brightness(85%);
}

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.ri-more-2-fill {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    rotate: 90deg;
    margin-right: 15px;
    font-family: sans-serif;
    font: bold;
    justify-content: flex-end;
    padding: 15px 10px;
    background-color: #E2E5E9;
    border-radius: 8px;
}

.profile-nav-main-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 65%;
    /* width: 20%; */
    justify-content: space-between;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);


}

/* .profile-nav {
    height: 70px;
    width: 65%;
    /* background-color: rgb(255, 45, 45); */
/* display: flex;
    flex-direction: row;
    align-items: center; */
/* justify-content: space-between; */
/* } */

.profile-nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.profile-nav-left p {
    color: gray;
    padding: 15px 15px;
    font-size: clamp(12px, 1.1vw, 2rem);
    font-weight: 600;
    font-family: 'Segoe UI';
}

.profile-nav-left p:hover {
    background-color: #eaedf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 8px;
}

.profile-nav-left #post-btn:checked+label p {
    margin-top: 3px;
    color: #6852B5;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #about-btn:checked+label p {
    margin-top: 3px;
    color: #6852B5;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #reels-btn:checked+label p {
    margin-top: 3px;
    color: #6852B5;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #photos-btn:checked+label p {
    margin-top: 3px;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #groups-btn:checked+label p {
    color: #6852B5;
    margin-top: 3px;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #events-btn:checked+label p {
    margin-top: 3px;
    color: #6852B5;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #more-btn:checked+label p {
    margin-top: 3px;
    color: #6852B5;
    border-bottom: 3px solid #6852B5;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left input {
    display: none;
}

.more-and-arrow-marge {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.three-dot:hover {
    filter: brightness(85%);
}

.line {
    margin-top: 10px;
    height: 1px;
    width: 65%;
    background-color: gray;
}


/* profile page's bottom main container */
.profile-bottom-main-container {
    height: auto;
    margin: 15px 0px;
    width: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-bottom-main-container .bottom-left-container {
    position: sticky;
    height: auto;
    width: 42%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Intro section of the profile page */
.bottom-left-container .intro-master-section {
    height: 400px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.intro-main-section {
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    padding: 20px;
    gap: 10px;
}

.intro-word h4 {
    font-size: 26px;
}

.bio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bio-section button {
    width: 100%;
    background-color: #D6D9DD;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 8px;
    border: none;
}

.profile-details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.profile-details-section i {
    font-size: 25px;
    color: #8C939D;
}

.profile-details-section p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-details-section button {
    padding: 10px 0px;
    background-color: #D6D9DD;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}



.profile-photo-section {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-photo-section .photo-top-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.photo-top-part p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.photo-top-part p:last-child {
    font-size: 20px;
    color: #745BC9;
}

.profile-photo-section .photo-gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 15px; */
}

.photo-gallery img {
    width: 30%;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}



/* Profile friend Section */
.bottom-left-container .profile-frd-section {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-frd-section .frd-top-part {
    height: 80px;
    width: 100%;
    /* background-color: rgb(255, 104, 242); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.frd-top-part .right-side p {
    font-size: 20px;
    cursor: pointer;
    color: #745BC9;
}

.right-side {
    height: 100%;
    /* background-color: green; */
}

.frd-top-part .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    cursor: pointer;
}

.frd-top-part .right-side {
    padding-top: 18px;
}

.frd-top-part .left-side p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.profile-frd-section .frd-bottom-part {
    /* height: 85%; */
    width: 100%;
    /* background-color: #ffb9b9; */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "i11 i12 i13"
        "i21 i22 i23"
        "i31 i32 i33"
    ;
    padding: 0px 15px 30px 15px;
    row-gap: 10px;
    column-gap: 10px;
}

.frd-bottom-part .grid-item {
    height: 100%;
    width: 100%;
    /* background-color: rgb(255, 33, 33); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.frd-bottom-part .grid-item p {
    font-weight: 500;
    cursor: pointer;
}

.frd-bottom-part .grid-item p:hover {
    text-decoration: underline
}

.frd-bottom-part .grid-item .top {
    width: 100%;
    height: 75%;
    background-color: #fff;
    border-radius: 15px;
}

.grid-item .top img {
    /* height: 20px; */
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    cursor: pointer;
}

.grid-item .top img:hover {
    filter: brightness(85%);

}


.profile-bottom-main-container .bottom-right-container {
    height: 100%;
    width: 56%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}


/* Profile post section of bottom right */
.bottom-right-container .profile-post-section {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-post-section .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 10px 15px;
}

.profile-post-section .top-part img {
    height: 45px;
    border-radius: 25px;
}

.profile-post-section .top-part input {
    width: 85%;
    height: 45px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #E4E6E9;
    padding-left: 10px;
}

.profile-post-section .top-part input:hover {
    filter: brightness(85%);
}

.profile-post-section .top-part input::placeholder {
    font-size: 15px;

}

.middle-line {
    width: 93%;
    height: 1px;
    background-color: #7C7C7C;
    margin: 0 auto;
}

.profile-post-section .bottom-part {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    padding: 10px 15px;

}

.profile-post-section .bottom-part div {
    height: 100%;
    width: 33%;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.bottom-part div:hover {
    filter: brightness(85%);

}

.bottom-part div i {
    font-size: 25px;
}

.bottom-part .ri-live-fill {
    color: #E42645;
}

.bottom-part .ri-multi-image-fill {
    color: #41B35D;
}

.bottom-part .ri-movie-fill {
    color: #EF5271;
}



.bottom-part div span {
    font-weight: bold;
    color: #606366;
}


/* profile post grid section */
.post-grid-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 120px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.grid-line-2 {
    height: 1px;
    width: 100%;
    background-color: gray;
}

.post-grid-up-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.post-grid-up-section-mid {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.post-grid-up-section-mid p {
    padding: 8px 15px;
    background-color: rgb(212, 211, 211);
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.post-grid-up-section-mid p:hover {
    filter: brightness(80%);
}

.post-grid-down-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    width: 100%;
    gap: 10px;
}


.post-grid-down-section p {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 100%;
    gap: 10px;
    color: #606366;
}

.post-grid-down-section p i:hover {
    border-radius: 8px;
    background-color: #F2F2F2;
}


.post-grid-down-section i {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 50px;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: 600;
    color: #606366;
    border: 3px solid transparent;
}

.post-grid-down-section input {
    display: none;
}

.post-grid-down-section #list-view:checked+label i {
    color: #6852B5;
    border-bottom: 3px solid;
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.post-grid-down-section #grid-view:checked+label i {
    color: #6852B5;
    border-bottom: 3px solid;
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}





/* the main container of post */
.all-post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* structure of the post */
.post-structure {
    height: auto;
    width: 100%;
    max-width: 760px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    /* border: 2px solid red; */
}

.post-profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 10px 0px 20px 10px;
}

.post-profile-picture img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #242424;
    border-radius: 50%;
}

.name-and-time {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name-and-time p {
    color: #000000;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(93, 90, 90);
}

.name-and-time .user_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* caption area of post structure */
.post-structure .caption-area {
    min-height: 60px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.caption_text p {
    color: #000000;
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 5px 10px;
}

.picture-area img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* post media area for photos/videos */
.post-structure .picture-area {
    height: 300px;
    width: 100%;
    max-width: 1200px;
    background-color: #000000;
}

/* like,cmt,share etc btns */
.post-structure .action-area {
    height: 50px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 20px;
}

/* left buttons area */
.action-area .left-side-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: transparent;
}

.left-side-btns p {
    font-size: 20px;
    width: 50px;
}

/* will be applied by js */
.active-action-btn {
    color: #4e3894 !important;
    transition: all 0.2s ease;
}

/* all buttons icon */
.post-structure .action-area i {
    color: #272727;
    font-size: 30px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.bio-section button:hover {
    filter: brightness(85%);

}

.profile-details-section button:hover {
    filter: brightness(85%);

}


@media(max-width:600px) {
    .profile-bottom-main-container {
        flex-direction: column;
    }

    .profile-mid-section {
        flex-direction: column;
    }

    .profile-bottom-main-container .bottom-left-container {
        position: static;
    }

    .profile-nav-main-container {
        width: auto;
    }

    .profile-bottom-main-container {
        width: 100vw;
    }

    .profile-bottom-main-container .bottom-left-container {
        width: 100%;
    }

    .profile-bottom-main-container .bottom-right-container {
        width: 100%;
    }

    .profile-bottom-main-container .bottom-left-container .intro-master-section {
        width: 100%;
    }

    .profile-bottom-main-container .intro-master-section .intro-main-section {
        width: 100%;
    }

    .profile-bottom-main-container .intro-master-section .intro-main-section .profile-details-section {
        width: 100%;
    }

    .profile-mid-section .dashboard-section {
        justify-content: center;
        align-items: center;
    }

    .dashboard-section .top-btn p:first-child {
        padding: 0 14vw;

    }

    .dashboard-section .top-btn:first-child p {
        font-size: 13px;
    }

    .profile-nav-left label:nth-of-type(5) p {
        display: none;
    }

    .profile-nav-left label:nth-of-type(6) p {
        display: none;
    }
    .profile-nav-left label:nth-of-type(4) p {
        display: none;
    }


    .main-cover-photo-section {
        height: 180px;
    }

    .profile-mid-section .pic-and-name{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-and-followers{
        justify-content: center;
        align-items: center;
        background-color: green;
        gap: 2px;
        padding-bottom: 0px;
        padding: 10px 0px;
    }

    .name-and-followers .followers-pic{
        justify-content: center;
        align-items: center;
    }

    .profile-mid-section .pic-and-name{
        gap: 0px;
    }
    .cover-photo-btn p{
        display: none;
    }
    .cover-photo-btn{
        width: fit-content;
        border-radius: 50%;
        right: 10px;
        bottom: 10px;
        aspect-ratio: 1/1;
    }
    .body{
        min-width: 100vw;
    }



}

@media(max-width:360px){
        .profile-page-main-container{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}
