* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(225, 208, 241);
}

/* grid area  */
.grid-area {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "main sidebar";
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 70px auto;
}

/* nav bar */
#main-header {
    grid-area: navbar;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

/* left side nav-bar's position  */
.left-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

/* left side logo  */
.logo img {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 60px;
    border-radius: 50px;
}

/* search-icon style  */
.main-search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 45%;
    border-radius: 16px;
    background-color: #F0F2F5;
    padding: 0 10px;
}

/* search-bar style  */
.main-search input {
    flex: 1;
    height: auto;
    border: none;
    outline: none;
    background: transparent;
}

.main-search input::placeholder {
    color: black;
}

/* laft side navbar style  */
.nav-btn-area {
    font-size: 28px;
    color: black;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
}

.nav-btn-area input{
    display: none;
}

.nav-btn-area label i:last-child{
    display: none;
}

.nav-btn-area #home-icon:checked + label i:first-child {
    display: none;
}
.nav-btn-area #home-icon:checked + label i:last-child {
    display: inline;
    color: #745BC9;
    border-bottom: 5px solid #745BC9;
    padding-bottom: 3px;
}

.nav-btn-area #people-icon:checked + label i:first-child {
    display: none;
}
.nav-btn-area #people-icon:checked + label i:last-child {
    display: inline;
    color: #745BC9;
    border-bottom: 5px solid #745BC9;
    padding-bottom: 3px;
}

.nav-btn-area #group-icon:checked + label i:first-child {
    display: none;
}
.nav-btn-area #group-icon:checked + label i:last-child {
    display: inline;
    color: #745BC9;
    border-bottom: 5px solid #745BC9;
    padding-bottom: 3px;
}


/* right side menu style  */
.notify-icon-bg {
    background-color: #745BC9;
    border-radius: 50px;
}

.ri-notification-2-fill {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
}

.right-side-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.right-side-nav-bar ul li {
    list-style: none;
    padding: 7px;
}

.right-side-nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 40;
}

/* profile picture style  */
.profile-pic img {
    display: flex;
    flex-direction: row;
    width: 50px;
    border-radius: 50px;
}

/* after-profile-nav-bar style  */
.after-profile {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.ri-menu-line {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #000000;
}

.after-profile-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

.after-profile-nav-bar ul li {
    list-style: none;
}

.after-profile-nav-bar ul li a {
    text-decoration: none;
}

/* the main container of news feed */
#news-feed-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    grid-area: main;
    padding-bottom: 20px;
}

/* post writing section and img, video etc buttons */
.post-writing-section {

    margin-top: 10px;
    height: 65px;
    width: 90%;
    max-width: 760px;
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 20px;
}

/* 2nd porfile picture */
.post-writing-section .profile-picture-2nd img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #242424;
    border-radius: 50%;
}

.post-profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 10px 0px 20px 10px;
}

.post-profile-picture img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #242424;
    border-radius: 50%;
}

.name-and-time {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name-and-time p {
    color: #000000;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(93, 90, 90);
}

.name-and-time .user_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-writing-section .post-box {
    height: 45px;
    width: 65%;
    background-color: #F0F2F5;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.post-writing-section .post-box::placeholder {
    color: black;
    font-size: 16px;
}

.post-writing-section .media-icons {
    height: 50px;
    width: 150px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.post-writing-section .media-icons i {
    font-size: 30px;
    color: #745bc9;
}

/* structure of the post */
#news-feed-main-container .post-structure {
    height: auto;
    background-color: transparent;
    width: 90%;
    max-width: 760px;
}

/* caption area of post structure */
.post-structure .caption-area {
    min-height: 60px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.caption_text p {
    color: #000000;
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 5px 10px;
}

.picture-area img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* post media area for photos/videos */
.post-structure .picture-area {
    height: 300px;
    width: 100%;
    max-width: 1200px;
    background-color: #000000;
}

/* like,cmt,share etc btns */
.post-structure .action-area {
    height: 50px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 20px;
}

/* left buttons area */
.action-area .left-side-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: transparent;
}
.left-side-btns p {
    font-size: 20px;
}

/* will be applied by js */
.active-action-btn{
    color: #4e3894 !important;
    transition: all 0.2s ease;
}

/* all buttons icon */
.post-structure .action-area i {
    color: #272727;
    font-size: 30px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


.main_right_aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1D0F1;
    grid-area: sidebar;
    position: sticky;
    align-self: start;
    top: 70px;
    height: calc(100vh - 70px);
    min-height: 0;
}



.massenger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    flex: 1;
    min-height: 0;
    background-color: #ffffff;
}

.massenger_icon_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 95%;
}

.massenger_icon_area span {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
}

.massenger_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
}

.ri-more-2-line {
    rotate: 90deg;
}

.messenger-search-area {
    height: 40px;
    width: 90%;
    background-color: #F0F2F5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.messenger-search-area input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 95%;
    padding-left: 10px;
}

.messenger-search-area .ri-search-line {
    font-size: 20px;
    color: #000000;
}

.sorting-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    width: 90%;
}

.sorting-area span {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 15px;
    font-family: 'Times New Roman', Times, serif;
}

.sorting-area span:hover {
    background-color: rgb(241, 236, 236);
    border-radius: 25px;
}

.sorting-area input {
    display: none;
}

.sorting-area #all:checked+label span {
    color: #745BC9;
    background-color: #E1D0F1;
    border-radius: 25px;
}

.sorting-area #unread:checked+label span {
    color: #745BC9;
    background-color: #E1D0F1;
    border-radius: 25px;
}

.sorting-area #groups:checked+label span {
    color: #745BC9;
    background-color: #E1D0F1;
    border-radius: 25px;
}

.sorting-area #communities:checked+label span {
    color: #745BC9;
    background-color: #E1D0F1;
    border-radius: 25px;
}

.contact-area {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.contact-area .contact-people {
    /* height: 100%; */
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
}

.contact-area .contact-people:hover {
    background-color: #F2F2F2;
    border-radius: 8px;
}

.contact-people img {
    height: 70px;
    border-radius: 50px;
}

.name-and-text span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.name-and-text .message-text {
    font-family: cursive;
}

.messenger-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message-last-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.message-last-section p {
    font-size: 18px;
    font-weight: bold;
    color: #745BC9;
}


