* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffd4ac;
}

.profile-page-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.profile-top-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    /* background-color: green; */
}

.main-cover-photo-section {
    height: 50%;
    width: 70%;
    background-color: #ffffff;
    object-fit: cover;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-photo {
    height: 100%;
    width: 100%;

}

.cover-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-photo-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.cover-photo-btn p,
i {
    font-size: 18px;
}

.cover-photo-btn {
    height: 40px;
    width: 170px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.profile-mid-section {
    height: 190px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-mid-section .pic-and-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    /* width: 52%; */
    gap: 20px;
    height: 100%;
}

.pic-and-name img {
    height: 170px;
    border-radius: 85px;
}

.name-and-followers {
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 30px;
}

.name-and-followers h1 {
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name-and-followers .followers-pic {
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: green; */
}

.name-and-followers img {
    height: 32px;
    border: 2px solid white;
    margin-right: -7px;
}

.name-and-followers span {
    color: gray;
    font-family: 'Segoe UI';
}

.main-profile-picture {
    position: relative;
}

.main-profile-picture i {
    position: absolute;
    bottom: 22%;
    right: -8px;
    font-size: 25px;
    background-color: #dbdbdb;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-mid-section .dashboard-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    row-gap: 10px;
    padding-bottom: 30px;
}

.dashboard-section .top-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dashboard-section .top-btn p:first-child {
    background-color: #0866ff;
    height: 40px;
    width: 220px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    color: white;
}

.dashboard-section .top-btn p:first-child i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: blue;
    width: 20px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}


.dashboard-section .top-btn p:last-child {
    background-color: #E2E5E9;
    height: 40px;
    width: 70px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    color: black;
}


.bottom-btn {
    height: 40px;
    width: 110px;
    background-color: #E2E5E9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bottom-btn p:first-child {
    font-size: 20px;
}

.ri-arrow-drop-down-line {
    background-color: #E2E5E9;
    height: 40px;
    width: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    color: black;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.ri-more-2-fill {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    rotate: 90deg;
    margin-right: 15px;
    font-family: sans-serif;
    font: bold;
    justify-content: flex-end;
    padding: 15px 10px;
    background-color: #E2E5E9;
    border-radius: 8px;
}

.profile-nav-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.profile-nav {
    height: 70px;
    width: 65%;
    /* background-color: rgb(255, 45, 45); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.profile-nav-left p {
    color: gray;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI';
}

.profile-nav-left p:hover {
    background-color: #eaedf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 8px;
}

.profile-nav-left #post-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #about-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #reels-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #photos-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #groups-btn:checked+label p {
    color: #0866ff;
    margin-top: 3px;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #events-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left #more-btn:checked+label p {
    margin-top: 3px;
    color: #0866ff;
    border-bottom: 3px solid blue;
    border-radius: 0px;
    background-color: transparent;
}

.profile-nav-left input {
    display: none;
}

.more-and-arrow-marge {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.line {
    margin-top: 10px;
    height: 1px;
    width: 65%;
    background-color: gray;
}