<!-- Header section | grid-area nav nav -->

<div class="nav-bar-left-part">
    <!-- Logo Box  -->
    <div class="logo">
        <img src="/assets/instabook_logo.jpg" alt="Logo">
    </div>

    <!-- Search bar -->
    <div class="main-search">
        <input type="text" placeholder="Search...">
        <i class="ri-search-line"></i>
    </div>
</div>

<!-- menu bar  -->
<nav class="nav-btn-area">
    <input type="radio" name="nav-btn" id="home-icon" checked>
    <label for="home-icon">
        <i class="ri-home-7-line"></i>
        <i class="ri-home-7-fill"></i>
    </label>

    <input type="radio" name="nav-btn" id="people-icon">
    <label for="people-icon">
        <i class="ri-user-3-line"></i>
        <i class="ri-user-3-fill"></i>
    </label>

    <input type="radio" name="nav-btn" id="group-icon">
    <label for="group-icon">
        <i class="ri-group-2-line"></i>
        <i class="ri-group-2-fill"></i>
    </label>
</nav>

<div class="nav-bar-right-part">
    <!-- Right side menu  -->
    <a href="">About</a>
    <div class="notify-icon-bg">
        <i class="ri-notification-2-fill"></i>
    </div>
    <!-- Profile picture box  -->
    <div class="profile-pic">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmLlz4kiZ23iny0wdtSPKQSpK-tpZfuM2QAQ&s"
            alt="Profile Picture">
    </div>
    <!-- After profile picture menu  -->
    <i class="ri-menu-line"></i>
</div>