<div class="people-top-part">
    <p>People you may know</p>
    <p>See all</p>
</div>
<div class="people-container">
    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/11.jpg" alt=""></div>
        <div class="name-area"><p>Mahmudul Hasan</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/22.jpg" alt=""></div>
        <div class="name-area"><p>Arif Hossain</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/women/32.jpg" alt=""></div>
        <div class="name-area"><p>Nusrat Jahan</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/45.jpg" alt=""></div>
        <div class="name-area"><p>Tamim Iqbal</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/56.jpg" alt=""></div>
        <div class="name-area"><p>Fahim Rahman</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/67.jpg" alt=""></div>
        <div class="name-area"><p>Shakib Al Hasan</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/women/71.jpg" alt=""></div>
        <div class="name-area"><p>Sadia Akter</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/83.jpg" alt=""></div>
        <div class="name-area"><p>Mehedi Hasan</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/94.jpg" alt=""></div>
        <div class="name-area"><p>Rafiul Islam</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/99.jpg" alt=""></div>
        <div class="name-area"><p>Tanvir Ahmed</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/women/11.jpg" alt=""></div>
        <div class="name-area"><p>Jannatul Ferdous</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/men/10.jpg" alt=""></div>
        <div class="name-area"><p>Saiful Islam</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>

    <div class="person-div">
        <div class="pic-area"><img src="https://randomuser.me/api/portraits/women/13.jpg" alt=""></div>
        <div class="name-area"><p>Farzana Yeasmin</p></div>
        <button>Follow</button>
        <button>Remove</button>
    </div>
</div>
