* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* grid area  */
.grid-area {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "main sidebar";
    grid-template-rows: 70px 1fr;
    height: 100vh;
    grid-template-columns: 1.6fr 1fr;
    /* gap: 20px; */
}

/* main section's flex */
#main-header {
    display: flex;
    grid-area: navbar;
    align-items: center;
    justify-content: space-between;
    background-color: #49a5eb;
    color: #fff;
    text-align: center;
}

/* left side nav-bar's position  */
.left-side {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

/* left side logo  */
.logo img {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 60px;
    border-radius: 50px;
}


/* search-bar style  */
.search-bar input {
    height: 40px;
    width: 400px;
    border-radius: 16px;
    border: none;
}

/* search-icon style  */
.main-search {
    padding: 4px;
    text-align: center;
    width: 450px;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    background-color: white;
    color: rgb(4, 38, 118);
}

/* laft side navbar style  */

.ri-home-7-fill {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(4, 38, 118);
}

.ri-user-3-fill {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(4, 38, 118);
}

.ri-group-2-fill {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(4, 38, 118);
}

.left-side-nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.left-side-nav-bar ul li {
    list-style: none;
    padding: 7px;
}

.left-side-nav-bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 40;
}

/* right side menu style  */
.notify-icon-bg {
    background-color: white;
    border-radius: 50px;
}

.ri-notification-2-fill {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: rgb(4, 38, 118);
}

.right-side-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.right-side-nav-bar ul li {
    list-style: none;
    padding: 7px;
}

.right-side-nav-bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 40;
}

/* profile picture style  */
.profile-pic img{
    display: flex;
    flex-direction: row;
    width: 50px;
    border-radius: 50px;
}

/* after-profile-nav-bar style  */
.after-profile{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;

}

.ri-menu-line{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(4, 38, 118);
}

.after-profile-nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

.after-profile-nav-bar ul li {
    list-style: none;
}

.after-profile-nav-bar ul li a{
    text-decoration: none;
}

#news-feed-main-container {
    grid-area: main;
    background-color: #f77a64;
}

.post-writing-section {
    height: 70px;
    width: 100%;
    background-color: #4958df;
    display: flex;

    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.post-writing-section .profile-picture-2nd {
    height: 50px;
    width: 50px;
    background-color: #242424;
    border-radius: 50%;
}

.post-writing-section .post-box {
    height: 50px;
    width: 40%;
    background-color: #ffffff;
    border-radius: 16px;
    border: none;
    padding-left: 10px;
}

.post-writing-section .media-icons {
    height: 50px;
    width: 150px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.post-writing-section .media-icons i {
    font-size: 40px;

}

#news-feed-main-container .post-structure {
    height: 300px;
    width: 90%;
    background-color: #a6cfa0;
}

.post-structure .caption-area {
    height: 100px;
    width: 100%;
    background-color: rgb(136, 89, 223);
}

.post-structure .picture-area {
    height: 300px;
    width: 100%;
    background-color: #3f3f3f;
}

.post-structure .action-area {
    height: 50px;
    width: 100%;
    background-color: #ff6161;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post-structure .action-area i{
    font-size: 30px;
    letter-spacing: 0px;
    display: flex;
}